@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply text-indigo-600 dark:text-indigo-400;
}

h2 {
  @apply text-xl font-bold text-slate-900 dark:text-white;
}

.page {
  @apply w-full min-h-[calc(100vh-7rem)] flex flex-col items-center px-5 py-5;
}

.page-row {
  @apply w-full min-h-[calc(100vh-7rem)] flex flex-row items-center px-5 py-5;
}

.unpadding-page {
  @apply w-full min-h-[calc(100vh-7rem)] flex flex-col items-center;
}

.primary-button {
  @apply py-2 px-3 rounded-md bg-indigo-500 hover:bg-indigo-600 text-white text-sm transition-colors;
}

.secondary-button {
  @apply py-2 px-3 rounded-md hover:bg-slate-100 text-slate-900 text-sm transition-colors;
}

.bordered-button {
  @apply py-2 px-3 rounded-md border hover:bg-slate-100 text-slate-900 text-sm transition-colors;
}

.disabled-button {
  @apply py-2 px-3 rounded-md bg-slate-200 text-slate-700 text-sm transition-colors;
}

.danger-button {
  @apply py-2 px-3 rounded-md bg-red-500 hover:bg-red-600 text-white text-sm transition-colors;
}

.danger-button-xs {
  @apply py-1.5 px-2.5 rounded-md bg-red-500 hover:bg-red-600 text-white text-xs transition-colors;
}

.white-button {
  @apply py-2 px-3 rounded-md bg-slate-100 hover:bg-slate-200 text-black text-sm transition-colors;
}

.white-button-xs {
  @apply py-1.5 px-2.5 rounded-md bg-slate-100 hover:bg-slate-200 text-black text-sm transition-colors;
}

.indigo-button-xs {
  @apply py-1.5 px-2.5 rounded-md bg-indigo-200 hover:bg-indigo-300 text-black text-sm transition-colors;
}

.bordered-button-xs {
  @apply py-1.5 px-2.5 rounded-md border hover:bg-slate-100 text-slate-900 text-xs transition-colors;
}

.primary-button-xs {
  @apply py-1.5 px-2.5 rounded-md bg-indigo-500 hover:bg-indigo-600 text-white text-xs transition-colors;
}

.checkbox-text-container {
  @apply flex items-center gap-2;
}

.checkbox-icon {
  @apply w-4 h-4;
}

.checkbox-label {
  @apply text-sm;
}
